.App {
  padding: 30px;
  display: flex;
  max-width: 250px;
  border: 10px solid #b4b4bf;
  margin: 10px auto;
  background-color: #0e1a51;
  color: white;
}

.App > div {
  margin-right: 50px;
  margin: 0 auto;
}

ul > li > button {
  margin: 5px;

}

.error {
  border: rgb(236, 109, 109) 2px solid;
  background-color: #f6c9c9;
}

.error-message {
  color: #f6c9c9;
}