body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Ubuntu Mono";
    font-size: 17px;
    background-color: #e7f5dc;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('./fonts/UbuntuMono-Bold.ttf') format('ttf'),
url('./fonts/UbuntuMono-Regular.ttf') format('ttf');
}

